UnityBasics/UnityBasics/.vs/
UnityBasics/UnityBasics/Library/
UnityBasics/UnityBasics/Logs/
UnityBasics/UnityBasics/obj/
UnityBasics/UnityBasics/Packages/
UnityBasics/UnityBasics/ProjectSettings/
UnityBasics/UnityBasics/UserSettings/
